 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            display: flex;
            height: 100vh;
            overflow: hidden;
            background-color: #ffe4c4;
        }
        .content {
            margin-left: 250px;
            padding-top: 90px;
            padding: 20px;
            width: calc(100% - 250px);
            height: calc(100vh - 90px);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .welcome-box {
            background-color: #ffffff;
            padding: 20px 40px;
            border: 2px solid #f4a460;
            margin-top: -332px;
            width: 100%;
            text-align: center;
        }

        .content h1 {
            font-size: 2rem;
            font-weight: bold;
            color: #333;
        }

        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding: 10px;
            background-color: #fff3e0;
            font-size: 0.9rem;
            color: #333;
            border-top: 1px solid #ccc;
        }